.semester-info {
  display: grid;
  padding: 1rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.semester-info-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 1rem;
}

.semester-info-row>span {
  display: flex;
  justify-content: center;
}

.semester-info-row>span:nth-child(-n+4) {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.empty-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.empty-page img {
  width: 20rem;
  height: 20rem;
  filter: opacity(0.06) saturate(0);
  user-select: none;
}

.semester-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-step-50);
  width: 90%;
  height: 5rem;
  margin: 2rem auto;
  padding: 0 1rem;
  border-radius: 20px;
}

.semester-input-wrapper + ion-button {
  width: 90%;
  margin: auto;
}

.alert-cancel {
  color: var(--ion-color-light) !important;
}

.alert-proceed {
  color: var(--ion-color-danger) !important;
}