ion-content.menu-content {
  --ion-background-color: var(--ion-tab-bar-background);
}

ion-content.menu-content ion-item {
  --ion-item-background: var(--ion-tab-bar-background);
}

#user-info ion-label{
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-item {
  --inner-border-width: 0;
}

ion-toolbar.menu-toolbar {
  /* default: 3.5rem */
  height: 3rem; 
}

ion-toolbar.menu-toolbar ion-title {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-top: -0.25rem;
}

#bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.menu-content ion-button {
  margin: 0;
  height: 3.5rem;
  margin-top: 0.5rem;
}

.menu-content ion-item-divider {
  min-height: 1px;
}

.menu-button {
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start !important;
}