.grade-info {
  display: grid;
  padding: 1rem;
}

.grade-info-row {
  display: grid;
  padding: 0 1rem;
}

.grade-info-row > span {
  display: flex;
  justify-content: center;
}

.col-info-row-4 > span:nth-child(-n + 4),
.col-info-row-3 > span:nth-child(-n + 3) {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
