#header-title {
  font-family: var(--title);
  color: var(--logo-title);
  font-size: 1.25rem;
  height: 3rem;
}

ion-content.page-content {
  --padding-end: 0.5rem;
  --padding-start: 0.5rem;
}

.info-text {
  color: var(--ion-color-medium);
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}