.partial-modal .modal-wrapper {
  margin-top: auto;
  --height: 65%;
}

.partial-modal ion-content {
  --background: var(--ion-color-step-100);
}

.partial-modal ion-title {
  text-align: center;
}

.partial-modal ion-toolbar {
  --min-height: 4rem;
}