@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ProductSans-Regular.ttf');
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Pacifico-Regular.ttf');
}