@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/ProductSans-Regular.ttf');
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Pacifico-Regular.ttf');
}

/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /* fonts */
  --title: 'Pacifico';
  --ion-font-family: 'Product Sans';
  /* custom color */
  --logo-title: #fed700;

  --ion-color-primary: #231f20;
  --ion-color-primary-rgb: 35, 31, 32;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1f1b1c;
  --ion-color-primary-tint: #393536;

  --ion-color-secondary: #ff9900;
  --ion-color-secondary-rgb: 255, 153, 0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e08700;
  --ion-color-secondary-tint: #ffa31a;

  --ion-color-tertiary: #3e92cc;
  --ion-color-tertiary-rgb: 62, 146, 204;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3780b4;
  --ion-color-tertiary-tint: #519dd1;

  --ion-color-success: #748500;
  --ion-color-success-rgb: 116, 133, 0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #667500;
  --ion-color-success-tint: #82911a;

  --ion-color-warning: #f3de2c;
  --ion-color-warning-rgb: 243, 222, 44;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d6c327;
  --ion-color-warning-tint: #f4e141;

  --ion-color-danger: #bf211e;
  --ion-color-danger-rgb: 191, 33, 30;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a81d1a;
  --ion-color-danger-tint: #c53735;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

body {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;
  --ion-tab-bar-background: #0d0d0d;
  --ion-item-background: #000000;
  --ion-card-background: #1c1c1d;
}

.alert-cancel {
  color: var(--ion-color-light) !important;
}

.alert-proceed {
  color: var(--ion-color-danger) !important;
}
