.pass-fail-button {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.pass-fail-button .pass-fail {
  align-items: center;
  padding: 0.5rem 0;
  justify-content: space-around;
}

.separator {

  margin: 2rem auto;
  width: 90%;
  border-bottom: 1px solid var(--ion-color-medium-shade);
}