.partial-modal .modal-wrapper {
  --height: 69%; /* nice */
}

.modal .modal-wrapper {
  margin-top: auto;
}

.modal ion-content {
  --background: var(--ion-color-step-100);
}

.modal ion-title {
  text-align: center;
}

.modal ion-toolbar {
  --min-height: 4rem;
}

.outer-text-input-wrapper {
  width: 100%;
  margin: 1.5rem 0;
}

.text-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-step-50);
  width: 90%;
  height: 5rem;
  margin: auto;
  padding: 0 1rem;
  border-radius: 20px;
}

.outer-text-input-wrapper ~ ion-button {
  width: 90%;
  margin: auto;
}

.outer-text-input-wrapper h6 {
  font-size: 0.875rem;
  padding-left: 5%;
}
